footer.footer
    .wrapper.top
        .container
            .location
                h3.title location
                p 3481 Melrose Place Beverly Hills, CA 90210
            .social-links
                h3.title share with love
                .social-links__items
                    a.face(href="#"): i.fab.fa-facebook-f
                    a.twit(href="#"): i.fab.fa-twitter
                    a.link(href="#"): i.fab.fa-linkedin
            .about-us
                h3.title about activebox
                p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.
    .wrapper.bott
        .container
            .copyright
                p Copyright © 2015 ActiveBox. All Rights Reserved
                    |Made with <i class="fa fa-heart pulse"></i> <a href="#">by Kamal Chaneman</a>


script(src = "//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js")
script(src = "assets/js/slick/slick.min.js")
script(src = "assets/js/iziModal/iziModal.min.js")
script(src = "assets/js/scripts.min.js")