header.header
    .container
        .logo
            img(src="assets/img/Main_logo@2x.svg", alt="ActiveBox")
        nav.top-nav
            #nav-bar
                span
                span
                span
                span
                span
                span
            include top-nav.pug