ul.top-nav__list
    li.top-nav__item
        a.top-nav__link(href="#features") Features
    li.top-nav__item
        a.top-nav__link(href="#works") Works
    li.top-nav__item
        a.top-nav__link(href="#team") Our Team
    li.top-nav__item
        a.top-nav__link(href="#clients") Testimonials
    li.top-nav__item
        a.top-nav__link(href="#download") Download