#top-menu-modal{
    padding: 30px;
    box-sizing: content-box;
    .top-nav__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        .top-nav__item{
            margin: 20px 0;
            text-transform: uppercase;
        }
        .top-nav__link{
            margin: 20px 0;
            font-family: $raleway;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            color: #000;
            transition: all 0.3s ease;
            &:hover, &.active{
                transition: all 0.3s ease;
                color: #000;
            }
        }
    }
}
