#nav-bar {
	z-index: 30;
    height: 0;
    opacity: 0;
    transition: all 0.1s ease;

	width: 30px;
	height: 20px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    @media screen and (max-width: 1100px) {
        height: 20px;
        opacity: 1;
        transition: all 0.1s ease;
    }
	cursor: pointer;
	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 50%;
		background: #fff;
		opacity: 1;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		&:nth-child(even) {
			left: 50%;
			border-radius: 0 9px 9px 0;
		}
		&:nth-child(odd) {
			left: 0px;
			border-radius: 9px 0 0 9px;
		}
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2) {
			top: 0px;
		}
		&:nth-child(3) {
			top: 8px;
		}
		&:nth-child(4) {
			top: 8px;
		}
		&:nth-child(5) {
			top: 16px;
		}
		&:nth-child(6) {
			top: 16px;
		}
	}
}
#nav-bar.open {
	span {
		&:nth-child(1) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
			left: 3px;
			top: 5px;
		}
		&:nth-child(6) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
			left: calc(50% - 3px);
			top: 14px;
		}
		&:nth-child(2) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
			left: calc(50% - 3px);
			top: 5px;
		}
		&:nth-child(5) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
			left: 3px;
			top: 14px;
		}
		&:nth-child(3) {
			left: -50%;
			opacity: 0;
		}
		&:nth-child(4) {
			left: 100%;
			opacity: 0;
		}
	}
}
