section#clients
    .wrapper
        .reviewer
            .reviewer__photo(style="background: url(assets/img/clients/women_in_red.png) no-repeat center right / cover;")
            .reviewer__text
                .reviewer__content
                    p “Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam...”
                .reviewer__personality
                    p Susan Sims, Interaction Designer at XYZ
        .reviewer
            .reviewer__photo(style="background: url(assets/img/clients/women_in_red.png) no-repeat center right / cover;")
            .reviewer__text
                .reviewer__content
                    p “Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam...”
                .reviewer__personality
                    p Susan Sims, Interaction Designer at XYZ
        .reviewer
            .reviewer__photo(style="background: url(assets/img/clients/women_in_red.png) no-repeat center right / cover;")
            .reviewer__text
                .reviewer__content
                    p “Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam...”
                .reviewer__personality
                    p Susan Sims, Interaction Designer at XYZ
    .container
        div
        div.dots
         


