section#team
    .container
        .wrapper
            .person-card
                .person-card__photo
                    img(src="assets/img/team/Ruth_Woods.png", alt="")
                .person-card__name
                    p Ruth Woods
                .person-card__position
                    p Founder, ceo
                .person-card__description
                    p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
                        |justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna
                        | mollis ornare vel eu leo.
                .person-card__social
                    a.face(href="#"): i.fab.fa-facebook-f
                    a.twit(href="#"): i.fab.fa-twitter
                    a.link(href="#"): i.fab.fa-linkedin
            .person-card
                .person-card__photo
                    img(src="assets/img/team/Timothy_Reed.png", alt="")
                .person-card__name
                    p Timothy Reed
                .person-card__position
                    p Co-Founder, developer
                .person-card__description
                    p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
                        |justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna
                        | mollis ornare vel eu leo.
                .person-card__social
                    a.face(href="#"): i.fab.fa-facebook-f
                    a.twit(href="#"): i.fab.fa-twitter
                    a.link(href="#"): i.fab.fa-linkedin
            .person-card
                .person-card__photo
                    img(src="assets/img/team/Victoria_Valdez.png", alt="")
                .person-card__name
                    p Victoria Valdez
                .person-card__position
                    p Ui designer
                .person-card__description
                    p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
                        |justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna
                        | mollis ornare vel eu leo.
                .person-card__social
                    a.face(href="#"): i.fab.fa-facebook-f
                    a.twit(href="#"): i.fab.fa-twitter
                    a.link(href="#"): i.fab.fa-linkedin
            .person-card
                .person-card__photo
                    img(src="assets/img/team/Beverly_Little.png", alt="")
                .person-card__name
                    p Beverly Little
                .person-card__position
                    p Data scientist
                .person-card__description
                    p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
                        |justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna
                        | mollis ornare vel eu leo.
                .person-card__social
                    a.face(href="#"): i.fab.fa-facebook-f
                    a.twit(href="#"): i.fab.fa-twitter
                    a.link(href="#"): i.fab.fa-linkedin