section.top-hero

    include ../components/header.pug
    
    .container
        .wrapper
            h1.top-hero__title Your Favorite One Page Multi Purpose Template
            .top-hero__subtitle
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et.
            a.btn.btn--red(href="#") Find out more