section#works
    .wrapper
        .work-card
            .work-card__img
                img(src="assets/img/works/1.png", alt="")
            .work-card__name
                p Project Name
            .work-card__description
                p User Interface Design
        .work-card
            .work-card__img
                img(src="assets/img/works/2.png", alt="")
            .work-card__name
                p Project Name
            .work-card__description
                p User Interface Design
        .work-card
            .work-card__img
                img(src="assets/img/works/8.png", alt="")
            .work-card__name
                p Project Name
            .work-card__description
                p User Interface Design
        .work-card
            .work-card__img
                img(src="assets/img/works/5.png", alt="")
            .work-card__name
                p Project Name
            .work-card__description
                p User Interface Design
        .work-card
            .work-card__img
                img(src="assets/img/works/6.png", alt="")
            .work-card__name
                p Project Name
            .work-card__description
                p User Interface Design
        .work-card
            .work-card__img
                img(src="assets/img/works/7.png", alt="")
            .work-card__name
                p Project Name
            .work-card__description
                p User Interface Design
        .work-card
            .work-card__img
                img(src="assets/img/works/8.png", alt="")
            .work-card__name
                p Project Name
            .work-card__description
                p User Interface Design
        .work-card
            .work-card__img
                img(src="assets/img/works/8.png", alt="")
            .work-card__name
                p Project Name
            .work-card__description
                p User Interface Design